# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
venv/
env/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Runtime databases / logs
data/logs/*.duckdb

